:root {
  --primaryText: #eee;
  --secondaryText: #ddd;
  --primaryBackground: #112;
  --secondaryBackground: #223;
  --tertiaryBackground: #334;
  --primaryColor: #ff7393;
  --secondaryColor: #89befd;
  --successColor: #4fc976;
  --warningColor: #eab554;

  --headerHeight: 24px;
}

.w-70 {
  width: 70% !important;
}

.w-90 {
  width: 90% !important;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  color: var(--primaryText);
  background-color: var(--primaryBackground);
}

.no-overflow {
  overflow-x: initial;
  background-color: var(--primaryBackground);
}

.nav-item.border,
.navbar-toggler.border {
  background-color: var(--secondaryBackground) !important;
  border-color: var(--secondaryColor) !important;
}

.nav-item.border:hover {
  background-color: var(--secondaryBackground) !important;
}

.nav-link,
a.project-link {
  color: var(--primaryText) !important;
}

.project-link:after {
  content: URL('../images/externalLink.png');
  width: 20px;
  height: 20px;
}

div.border-bottom,
section.border-bottom,
section.border {
  border-color: var(--secondaryColor) !important;
  border-bottom-width: 2px !important;
}

.bio-border-left {
  border-left: 1px solid var(--primaryColor);
  position: absolute;
  height: 80%;
  top: 0px;
  left: 0px;

  pointer-events: none;
}

@media screen and (min-width: 576px) {
  .bio-border-left {
    height: 50%;
  }
}

@media screen and (max-width: 569px) {
  .jumbotron-fluid {
    width: 100% !important;
  }
}

.bio-border-bottom {
  border-right: 1px solid var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
  position: absolute;
  height: 80%;
  width: 100%;
  bottom: -3px;
  right: 0px;

  pointer-events: none;
}

.jumbotron-fluid {
  max-width: 1140px;
  background-color: var(--secondaryBackground);
  transition: all 0.3s ease-in-out !important;
}
.jumbotron-fluid:hover {
  transform: scale(1.05, 1.05);
  box-shadow: none;
  opacity: 0.9;
}

#selfie {
  max-height: 200px;
  max-width: 200px;
  border: 2px solid var(--primaryColor);
}

h3.border-pink,
p.border-pink {
  border-color: var(--primaryColor) !important;
}

.row.rounded {
  background-color: var(--secondaryBackground);
}

.form-border-top {
  border-left: 1px solid var(--primaryColor);
  border-top: 1px solid var(--primaryColor);
  position: absolute;
  height: 70%;
  width: 93%;
  top: 25px;
  left: 3%;

  pointer-events: none;
}

.form-border-bottom {
  border-right: 1px solid var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
  position: absolute;
  height: 70%;
  width: 93%;
  bottom: 25px;
  right: 3%;

  pointer-events: none;
}

.form {
  background-color: var(--secondaryBackground);
  max-width: 900px !important;
}

.form-control:focus {
  border-color: var(--primaryColor) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 115, 148, 1) !important;
}

/*
.btn-container {
  max-width: 300px !important;
}
*/

.btn-dark {
  border-color: white !important;
  transition: 0.3s;
}

.btn-dark[type='submit']:hover {
  background-color: var(--successColor);
  color: var(--primaryBackground);
}

.btn-dark[type='reset']:hover {
  background-color: var(--warningColor);
  color: var(--primaryBackground);
}

.flex-row.flex-nowrap {
  height: 320px;
}
@media screen and (min-width: 768px) {
  .flex-row.flex-nowrap {
    height: 520px;
  }
}
@media screen and (min-width: 992px) {
  .flex-row.flex-nowrap {
    height: 670px;
  }
}

.project-img {
  max-height: 300px;
  object-fit: contain;
  padding-bottom: 10px;
}

.card.card-block {
  background-color: var(--secondaryBackground) !important;
  transition: all 0.3s ease-in-out !important;
}

div.col-12 {
  min-width: 360px !important;
  max-width: 500px !important;
  max-height: 620px !important;
}

div.col-5 {
  min-width: 350px;
  max-width: 600px;
}

.card-block:hover {
  transform: scale(1.05, 1.05);
  box-shadow: none;
  opacity: 0.9;
}

.work-card {
  transition: all 0.3s ease-in-out !important;
}
.work-card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: none;
  opacity: 0.9;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondaryBackground);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--tertiaryBackground);
}

.btn#info-btn {
  color: var(--secondaryText);
  background-color: var(--secondaryBackground);
  width: 40px;
  height: 40px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}
.btn#info-btn:active {
  background-color: var(--tertiaryBackground);
}

.project-border-top {
  border-left: 1px solid var(--primaryColor);
  border-top: 1px solid var(--primaryColor);
  position: absolute;
  height: 70%;
  width: 93%;
  top: 15px;
  left: 10px;

  pointer-events: none;
}

.project-border-bottom {
  border-right: 1px solid var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
  position: absolute;
  height: 70%;
  width: 93%;
  bottom: 15px;
  right: 10px;

  pointer-events: none;
}

.scrollable-row {
  max-width: fit-content;
}
