:root {
  --primaryText: #eee;
  --secondaryText: #ddd;
  --primaryBackground: #111;
  --secondaryBackground: #223;

  --headerHeight: 24px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;

  color: var(--primaryText);
  background-color: var(--primaryBackground);
}

.no-overflow {
  overflow-x: hidden;
}

.title-card {
  display: block;
  margin: 2vh 25vw;
}

.scroll-anchor {
  position: relative;
  bottom: 100px;
}

#selfie {
  max-height: 200px;
}
