{% extends "layout.html" %}
{% block content %}
    <h2>Contribute A Quote</h2>
    <p>required fields are marked with a *</p>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <form action="{{ url_for('contribute') }}" method=post>
        <p class="heading"> Quote:* <br/>
        <textarea rows=5 cols=50 name=quote></textarea></p>
        <p class="heading"> Who said it:* <br/> <input type=text name=who></p>
        <p class="heading"> When it was said: <br/> <input type=date name=when></p>
        <p class="heading"> Where it was said: <br/> <input type=text name=where></p>
        <p class="heading"> Vector of dissemination: <br/> <input type=text name=how></p>
        <p class="heading">Context: <br/>
        <textarea rows=5 cols=50 name=context></textarea></p>
        <input type=submit value="contribute">
    </form>
{% endblock %}
